<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h1>Voici la page du potin</h1>
  <p><strong>Title:</strong> <%= @gossip.title %></p>
  <p><strong>Contenu:</strong> <%= @gossip.description%></p> 
  <p><strong>Auteur:</strong> <%= link_to @gossip.user.first_name, user_path(@gossip.user) %></p>
  <p><strong>Ville:</strong> <%= link_to  @gossip.city.name, city_path(@gossip.city) %></p>
  <p><strong>Date de création:</strong> <%= @gossip.created_at %></p>
</body>
</html>


