<div class="container">
  <h1>Bienvenue <%= @first_name %> !</h1>


  <p> C'est notre giga site de potins !</p>

 <%= link_to "Créer un nouveau potin", new_gossip_path, class: "btn btn-primary mb-3" %>
 <%= link_to "Editer un nouveau potin", edit_gossip_path(@gossips), class: "btn btn-primary mb-3" %>


  <div class="d-flex flex-wrap">
  <% @users.each do |user| %>
    <% if user.gossips.present? %>
      <div class="card text-white bg-dark mb-3 mx-2" style="width: 22rem;">
        <div class="card-header"><%= user.first_name %></div>
        <div class="card-body">
          <% user.gossips.each do |gossip| %>
            <p class="card-text">
              <%= gossip.title %>
              <%= link_to "En savoir plus", gossip_path(gossip), class: "btn btn-primary" %>
            </p>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
